footer {
    background-color: rgba(78, 106, 34, 0.6);
  }
  
  .footer-nav {
    padding: 15px;
    display: flex;
    flex-direction: rox;
  }
  
  footer p {
    margin: 0;
  }
  
  footer ul {
    margin: 0;
    display: flex;
    flex-direction: row;
  }
  
  footer li {
    list-style: none;
    padding-left: 40px;
  }
  
  footer a:hover {
    border-color: rgba(0,0,0,0.5);
    opacity: 0.8;
  }