div#banner1{
 
    height: 324px;
    
    background: asset_url('thpbanner.png') no-repeat;
    position: relative;
    border: 0px solid rgba(236, 238, 240, 0.842);
    box-shadow: 0px 0px 4px 0px #1c1a19;
    min-width: 1200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100px;
    }